:root{
  --primary-dark: #200F75;
  --primary-light: #ffba00;
  --primary-light-alpha: #f8f8f8;
  --base: #333333;
  --secondary: #ACACAC;
  --secondary-alpha:#ACACAC66;
  --tertiary: #767676;
  --clicker-height:70px;
  --clicker-elements:50px;
  --numbers: #cccccc;
  --button-bkg:#ff5353;
}
body{
  margin: 0 auto;
  width: 960px;
  background-color: var(--primary-light-alpha);
  color: var(--primary-dark);
  font-family: Helvetica Arial sans-serif;
}
main{
  align-items: center;
  width:85%;
}
.header{
  display: block;
  width:100%;
  text-align: center;
  margin: 0 auto;
}
aside{
  width:15%;
}

.bodyFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clicker{
  margin: 10px 0 10px 0;
  width:100%;
  display:inline-flex;
}
.controls{
  width:20%;
}
.btn{
  border-radius:.3em;
  font-weight:300;
  color:var(--primary-light-alpha);
  background-color:var(--primary-dark);
  height: 50px;
  width: 100%;
  font-size: 22px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  transform: perspective(600px) rotateX(0deg) scale(1);
  transition: all 0.2s linear;
}
.btn:hover{
  background-color: var(--primary-light-alpha);
  color:var(--primary-dark);
  box-shadow: 0 20px 40px var(--primary-light-alpha));
}
.btn:active{
  transform: perspective(600px) rotateX(15deg)  scale(0.9);
  font-size: 21px;
  box-shadow: 0 20px 40px var(--secondary-alpha);
}
#announce{
  width: 60%;
  display: inline;
  text-align: center;
  font-size: 30px;
  color:var(--base);
  height:var(--clicker-height);
}
#announce > div{
  display:inline;
}
.timer{
  display: inline;
  width: 15%;
}
.num{
  visibility: hidden;
  padding:10px;
  border-radius: 50%;
  width:var(--clicker-elements);
  height:var(--clicker-elements);
  background-color: var(--primary-light);
  border: 1px solid var(--primary-dark);
  box-shadow: 0 15px 50px var(--primary-dark);
  font-weight: bold;
}
.grid-container {
  border-radius: 15px;
  display: grid;
  grid-gap:5px;
  padding:5px;
  justify-content: center;
  background-color: var(--base);
  grid-template-columns: repeat(10,1fr);
}
.grid-container > div {
  background-color: var(--base);
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}
.notUsed{
  color: var(--numbers);
  border-radius:50%;
  border:1px solid var(--base);
}
.used{
  color: var(--primary-light);
  border-radius:50%;
  border:1px solid var(--primary-light);
}
.numCalled{
  width:100%;
  height: 50px;
  text-align: center;
}
.log{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  width:100%;
  height:430px;
}
.log > div{
  text-align: center;
  font-size:15px;
  width:20%;
}
progress[value]{
  width:100%;
  height:50px;
  -webkit-appearance: none;
  appearance: none;
  border:none;
  visibility: hidden;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image:
  -webkit-linear-gradient(-45deg,
    transparent 33%, rgba(0, 0, 0, .1) 33%,
    rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
      -webkit-linear-gradient(left, #09c, #f44);

      border-radius: 2px;
      background-size: 35px 20px, 100% 100%, 100% 100%;
    }
    progress[value]::-moz-progress-bar {
      background-image:
      -moz-linear-gradient(
        135deg,
        transparent 33%,
        rgba(0, 0, 0, 0.1) 33%,
        rgba(0, 0, 0, 0.1) 66%,
        transparent 66%
        ),
        -moz-linear-gradient(
          top,
          rgba(255, 255, 255, 0.25),
          rgba(0, 0, 0, 0.25)
          ),
          -moz-linear-gradient(
            left,
            #09c,
            #f44
            );

            border-radius: 2px;
            background-size: 35px 20px, 100% 100%, 100% 100%;
          }
