:root{
  --primary-dark: #200F75;
  --primary-light: #EEEEEE;
  --primary-light-alpha: #EEEEEE66;
  --base: #0078e7;
  --secondary: #ACACAC;
  --secondary-alpha:#ACACAC66;
  --tertiary: #767676;
  --clicker-height:50px;
  --numbers: #389BF2;
}
body{
  margin: 0 auto;
  width: 960px;
  background-color: var(--base);
  color: var(--primary-light);
}
main{
  align-items: center;
  width:85%;
}
header{
  display: block;
  width:100%;
}
aside{
  width:15%;
}

.bodyFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clicker{
  margin: 10px 0 10px 0;
  width:100%;
  display:inline-flex;

}
.btn{
  border-radius:0.12em;
  font-weight:300;
  color:var(--primary-dark);
  background-color:var(--primary-light);
  /* background-color:var(--primary-light);
  transition: all 0.15s;*/
  height: var(--clicker-height);
  width: 20%;
  font-size: 22px;
/* New */
    border: none;
    outline: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-appearance: none;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: 0 15px 40px var(--primary-light-alpha);
    transform: perspective(600px) rotateX(0deg) scale(1);
    transition: all 0.2s linear;
}
.btn:hover{
  background-color: var(--secondary);
  box-shadow: 0 20px 40px var(--primary-light-alpha));
}
.btn:active{
    transform: perspective(600px) rotateX(15deg)  scale(0.9);
    font-size: 21px;
    box-shadow: 0 20px 40px var(--secondary-alpha);
}
/* .btn.active:active{
  transform(perspective(600px) rotateX(0deg) scale(1));
  font-size: 22px;
  box-shadow(0 15px 40px rgba(var(--primary-light),0.5));
} */
#announce{
    width: 80%;
    display: inline;
    text-align: center;
    font-size: 30px;
    height:var(--clicker-height);
}
#announce > div{
  display:inline;
}
.num{
  visibility: hidden;
  padding:10px;
  border-radius: 50%;
  background-color: var(--primary-dark);
  border: 5px solid var(--primary-light);
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
/*  background-color: var(--secondary); */
}
.flex-container > div {
  background-color: var(--numbers);
  width: 10%;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}
.notUsed{
  color: var(--secondary);
}
.used{
  color: var(--primary-dark);
}
.numCalled{
  width:100%;
  height: 50px;
  text-align: center;
}
.log{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  width:100%;
  height:430px;
}
.log > div{
  text-align: center;
  font-size:15px;
  width:20%;
}
